@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="cyan darken-3">


            <div class="nav-wrapper">
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await SignInManager.UserManager.FindByNameAsync(User.Identity.Name);

                    var rol = userManager.GetRolesAsync(user);

                    var r = rol.Result[0];

                    if (r == "Administrador")
                    {
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="tab">@Html.ActionLink("Registrar Usuario", "Register", "Account")</li>
                    <li class="tab">@Html.ActionLink("Tutorías", "Index", "Tutoria")</li>


                    <li class="tab">@Html.ActionLink("Instituciones", "Index", "Institucion")</li>

                    <li class="tab">@Html.ActionLink("Cursos", "Index", "Curso")</li>

                    <li class="tab">@Html.ActionLink("Material de tutorias", "Tutorias", "Estudiante")</li>
                </ul>
                    }
                    else if (r == "Profesor")
                    {
                        <ul id="nav-mobile" class="center hide-on-med-and-down">
                            <li class="tab">@Html.ActionLink("Registrar Usuario", "Register", "Account")</li>
                            <li class="tab">@Html.ActionLink("Tutorías", "Index", "Tutoria")</li>
                        </ul>
                    }
                    else if (r == "Estudiante")
                    {
                        <ul id="nav-mobile" class="center hide-on-med-and-down">
                            <li>@Html.ActionLink("Pagina principal", "Index", "Estudiante")</li>
                            <li>@Html.ActionLink("Archivos de Estudio", "Tutorias", "Estudiante")</li>
                        </ul>
                    }
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout @User.Identity.Name</a>
                        </li>
                    </ul>
                }
                else
                {
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="nav-item ml-auto">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                </li>
            </ul>
                }

                @*<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    </ul>*@
            </div>
        </nav>
    </header>
    <div class="container" style="width: 100%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer cyan darken-3" style="position: relative; bottom: 0; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" style="margin-top: 20px;">
                    <h5 class="white-text">Enseñanza Voluntaria</h5>
                </div>
                <div class="col l4 offset-l2 s12" style="margin-top: 20px;">
                    <h5 class="white-text">Contacto</h5>
                    <ul>
                        <p>info@enseñanzavoluntaria.com</p>
                        <p>+(506) 2239-1939</p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Enseñanza Voluntaria
                <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/campaign/landing.php?campaign_id=1636795897&extra_1=s%7Cc%7C314049608549%7Ce%7Cfacebook%7C&placement=&creative=314049608549&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1636795897%26adgroupid%3D64025017178%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D1003673%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAwrf-BRA9EiwAUWwKXmWLS7zIejIPnQwnKzu9lWT6w8qPGY5qIO0RGb11392qKKUx7ZHydRoCYoUQAvD_BwE"><i style="font-size: 40px; margin-right: 10px" class="fab fa-facebook"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/"><i style="font-size: 40px; margin-right: 10px" class="fab fa-instagram"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://web.whatsapp.com/"><i style="font-size: 40px; margin-right: 10px" class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
