@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="cyan darken-3">


            <div class="nav-wrapper">
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await SignInManager.UserManager.FindByNameAsync(User.Identity.Name);

                    var rol = userManager.GetRolesAsync(user);

                    var r = rol.Result[0];

                    if (r == "Administrador")
                    {
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Institucion" asp-action="Index">instituciones</a>
                        </li>
                        <li class="tab">@Html.ActionLink("Registrar Usuario", "Register", "Account")</li>
                        <li class="tab">@Html.ActionLink("Tutorías", "Index", "Tutoria")</li>
                    
                    
                        <li class="tab">@Html.ActionLink("Instituciones", "Index", "Institucion")</li>
                    
                        <li class="tab">@Html.ActionLink("Material de tutorias", "Tutorias", "Estudiante")</li>
                    </ul>
                    }
                    else if (r == "Profesor")
                    {
                        <ul id="nav-mobile" class="center hide-on-med-and-down">
                            <li class="tab">@Html.ActionLink("Registrar Usuario", "Register", "Account")</li>
                            <li class="tab">@Html.ActionLink("Tutorías", "Tutorias", "Tutoria")</li>
                        </ul>
                    }
                    else if (r == "Estudiante")
                    {
                        <ul id="nav-mobile" class="center hide-on-med-and-down">
                            <li>@Html.ActionLink("Pagina principal", "Index", "Estudiante")</li>
                            <li>@Html.ActionLink("Archivos de Estudio", "Tutorias", "Estudiante")</li>
                        </ul>
                    }
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout @User.Identity.Name</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    </ul>
                }

                @*<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    </ul>*@
            </div>
        </nav>
    </header>
    <div class="container" style="width: 100%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer cyan darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
